# 빅데이터 코딩 1주차

## 1-1 ) 자료형

In [13]:
a = 10
print(type (a))

<class 'int'>

In [14]:
a ="십"
print(type(a))

<class 'str'>

In [15]:
a = 10.1456
print(type(a))

<class 'float'>

숫자형   
정수형 (byte, short, int, bigint)  
=> 파이썬에서는 int형으로 통일함  
실수형 (float)

In [19]:
a = 123
b = 1.2
c = 0o70 #8진수
d = 0x38 #16진수

print(c)
print(d)

print(type(a))
print(type(b))
print(type(c))
print(type(d))

56
56
<class 'int'>
<class 'float'>
<class 'int'>
<class 'int'>

** : 제곱  
// : 몫  
% : 나머지

In [25]:
a = 9
b = 4
c = a**b
print(c)
pow(3,4)

c = a // b
print(c)

c = a%b
print(c)

6561
2
1

In [29]:
a = 1
while(a<10):
    if (a%2 == 0):
        print(a, "even")
    else:
        print(a, "odd")
    a = a + 1

1 odd
2 even
3 odd
4 even
5 odd
6 even
7 odd
8 even
9 odd

In [31]:
a = 7%3
print(a)

1

In [ ]:
#문제 
# 1. 숫자 14를 3으로 나누었을 때 몫과 나머지를 구하라
a = 14
b = 3
print(a//b)
print(a%b)

## 1-2 ) 문자형

문자형 - " " or ' '  
문자형 (srt) 밖에 없음  
char(4byte)를 안쓴다

In [33]:
a = "10"
print(type(a))

<class 'str'>

In [34]:
#줄바꿈(\n)
a = "hi \n my name is \n"
print(a)

hi
 my name is

In [37]:
# ''' '''이면 줄바꿈도 적용해줌
a = ''' hi my nanme 
is 
mg cho'''
print(a)

 hi my nanme
is
mg cho

만약  
""" 안녕 내 이름은 ''조민근'' 입니다 """  
는 왜 오류가 발생할까?  
문자열을 정의하는 기호가 중복되기때문이다.  
""" 으로 시작했는데 ''을 만나버림  
=> escape 문자 (\)사용 : 따옴표 내를 탈출시켜줌

In [40]:
a = 'hi my\"name\" is \"""mgcho\"""'
print(a)

hi my"name" is """mgcho"""

문자열 연산 ?  
+ : 문자열 (병렬)연결  
* : 문자열 반복

In [47]:
a = "오늘"
b = "하루"
print(a+b)

# int + str  오류
"""
a = 10 #int
b = "개"
print(a+b) """

print(a * 5)
len(a*50)

오늘하루
오늘오늘오늘오늘오늘

100

In [55]:
a = "i love you"
print(a[-1])
print(a[2:6]) #첫 커서 시작으로 : 글자를 4개 뽑는다.
print(a[:6])
print(a)

u
love
i love
i love you

문자형 포맷팅  
%s : 문자열  
%d : 숫자(정수)  
%f : 실수

In [1]:
a = 100
b = 200
print ("i eat %d apples" %a)
print ("i eat %d apples %d bananas" %(a,b))
print ("i eat {1} apples {0} bananas".format(a,b))

i eat 100 apples
i eat 100 apples 200 bananas
i eat 200 apples 100 bananas

In [ ]:
# 2. 슬라이싱 short
a = "Life is too short you need python"
print(a[12:17])
print(a[-21:-16])

In [2]:
"{0:1^12}".format("Python") # ^ : 가운데 정렬

'@@@Python@@@'

In [22]:
a = "hobby"
#b의 개수 구하기
a.count('b')
#문자열 길이 구하기
a.__len__()
#특정 문자의 시작 자리 찾기
a.find('b')
#없으면?
a.find('k') #오류를 발생하지 않고 못찾으면 -1 출력
#index
a.index('o')
#index는 못찾으면 오류가 발생함
"""a.index('k')"""
#join : 글자 사이에 글자 삽입
'@@'.join(a)
#대문자로 바꾸기
b = a.upper()
print(b)
#소문자로 바꾸기
b.lower()

#strip : 벗기다. r공백을 없애줌
#lstrip
a = "   hi"
a.lstrip()
#rstrip
a = "hi   "
a.rstrip()
#strip  전체 없애줌
a = "   hi   "
a.strip()

#replace 단어를 찾아서 교체해줌
#replace(old text, new text)

a = "Life is too short"
a.replace('too','not')
#없으면 에러 없이 변경 안됨

#split 
a = 'a,b,c,d'
a = a.split(',')
print(a)
type(a)

HOBBY
['a', 'b', 'c', 'd']

list

## 1-3 ) 논리형

boolean : true or false  
논리 연산자  
& : and  
// 참-참 True / 거짓-거짓 참-거짓 거짓-참 : False  
| : or  
//참이 하나라도 있으면 True  
^ : xor   
//  
! : not   
//

## 1-4 ) 리스트,튜플,딕셔너리

In [23]:
#리스트 []
a = ["three","days"]
a[0]+a[1]

'threedays'

In [37]:
#인덱스 안의 인덱스 추출
a = [1,2,3,[4,5],[6,7,8]]
print(a[4][0:2])
print(a[0:2])

[6, 7]
[1, 2]

In [38]:
#문제 2,3 슬라이싱
a =[1,2,3,4,5]
a[1:3]

[2, 3]

In [42]:
#리스트끼리의 연산
# + 는 뒤에 덧붙여짐
a = [1,2,3,4,5]
b = [4,5]
print(a + b)
# * 는 상수와 리스트만 가능
"""a*b"""
a*3 #=> 3번 반복하여 삽입됨

# - 는 안됨

[1, 2, 3, 4, 5, 4, 5]

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [49]:
#리스트에 대체
a = [1,2,3,4]
a[2] = "three"
a

#리스트안 항목 삭제 del
del a[3]

#리스트에 추가 append
a.append(5)
a.append("six")
a

[1, 2, 'three', 5, 'six']

In [64]:
#내림차순 정렬 sort 
a = [1,7,3,9]
a.sort()
print(a)
a = ['b','a','l','q']
a.sort()
print(a)
#문자나 숫자 찾기 index / 없으면 에러남
a.index('b')
#문자 삽입 insert(넣을 인덱스 위치, 넣을 문자나 숫자)
a.insert(1,'Q')
a
#삭제 remove
a.remove('Q')
a
#삭제하고 삭제한 값 출력하기
print(a.pop(3))
a

[1, 3, 7, 9]
['a', 'b', 'l', 'q']
q

['a', 'b', 'l']

In [65]:
#형변환 str -> list
str = "happy"
str_l = list(str)
print(str_l)

['h', 'a', 'p', 'p', 'y']

In [70]:
#extend = list형식을 병렬으로 붙여줌
a =[1,2,3,4]
a.append([6,7])
print(a)
a.extend([6,7])
print(a)

[1, 2, 3, 4, [6, 7]]
[1, 2, 3, 4, [6, 7], 6, 7]

In [75]:
#튜플 () 
a =()
type(a)
a = (1,2,3)
a

#del 으로 삭제 안됨

a = (1,2,3,[4,5])
a[:2]
a[3][1]

5

In [78]:
#문제
a = (1,2,3)
a = a + (4,) #4 , : 콤마가 있다면 튜플로 인식함
a

(1, 2, 3, 4)

In [89]:
#딕셔너리 {key : value}
dic = {'name' : "mgcho", "birth" : "0130", "phone" : "01032264145"}
dic['name']

#키에는 리스트 못들어가지만 밸류에는 리스트 삽입 가능
"""del dic['name']
dic"""

#dic의 key들 출력
print(dic.keys())
type(dic.keys())
keys = list(dic.keys())
print(keys)

#dic 안의 튜플 출력
print(dic.items())

#dic 정리
dic.clear()
print(dic)

dict_keys(['name', 'birth', 'phone'])
['name', 'birth', 'phone']
dict_items([('name', 'mgcho'), ('birth', '0130'), ('phone', '01032264145')])
{}

In [90]:
a = {1 : 'apple', 2: 'banana', 3:'melon'}
#key 값에 따르 value 가져오기
a.get(1)

'apple'

In [ ]:
#문제

dic  = {'name':'kang', 'birth':'1128','age':35}

## 1-5 ) 집합

In [98]:
#집합 set() set 함수 안의 리스트 안의 값끼리 중복 x
s1 = set([1,2,3,4,5])
print(type(s1))
print(s1)
s2 = set([6,7,8,9])
s3 = set([4,5,6,7,8])

#교집합 구하기
s1&s3
s1.intersection(s3)

#합집합 구하기
s1|s3 #중복되는 4,5 한번만 포함됨 합집합 출력
s1.union(s3)

#차집합 구하기
s1.difference(s3)

<class 'set'>
{1, 2, 3, 4, 5}

{1, 2, 3}

In [105]:
#집합에 추가(add)
s1 = set([1,2,3,4,5])
s1.add(6)
s1

#집합에 추가 extend랑 유사(update)
s1.update([7,8])
s1

#집합에서 삭제 remove
s1.remove(4)
s1

{1, 2, 3, 5, 6, 7, 8}

: